@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --font-semi: 600;
}

:root {
    --first-color: #4070f4;
    --second-color: #0e2431;
}

:root {
    --body-font: 'Poppins', sanserif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px){
    :root {
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    }
}

:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

*,::before,::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.section-title {
    font-size: 50px;
    color: var( --first-color);
    margin: 50px auto 20px;
    text-align: center;
}

.section {
    padding: 3rem 0;
}

.bd-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #f5f5f5;
    box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
} 

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 50%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }

    .nav__link{
        color: #fff;
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__logo {
    color: var(--second-color);
}

.nav__toggle {
    font-size: 1.5rem;
    color: var(--second-color);
    cursor: pointer;
}

.nav__item .active, .nav__link:hover{
    background: var(--first-color);
    color:#fff;
    padding: 6px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.show {
    right: 0;
}

/* HOME SECTION*/

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 100px auto 10px;
}

.home__img {
    width: 450px;
} 

.home__img img {
    width: 100%;
    border-radius: 20px;
    object-fit: contain;
}

.home__title {
    font-size: 52px;
    margin-bottom: 20px;
}

.home__title-color {
    color: var(--first-color);
}

.home__social {
    margin-top: 20px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__social-icon {
    font-size: 30px;
    color: var(--second-color);
}

.home__social-icon:hover {
    color: var(--first-color);
}

/* MEDIA QUERY FOR HOME SECTION */

@media screen and (max-width:1300px){
    .home__title {
        font-size: 40px;
    }

    .home__img {
        width: 350px;
    }
}

@media screen and (max-width:1040px){
    .home__title {
        font-size: 30px;
    }
}

@media screen and (max-width:900px){
    .home {
        flex-direction: column;
    }

    .home__title {
        font-size: 40px;
    }

    .home__img {
        margin-top: 50px;
        width: 80%;
    }
}

@media screen and (max-width:550px){
    .home__title {
        font-size: 30px;
    }

    .home__img {
        width: 90%;
    }
}

@media screen and (max-width:1000px){
    
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 1.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button:hover {
    padding: .75rem 1.6rem;
    transition: all .2s ease-in-out;
    background: var(--second-color);
}

/* ABOUT SECTION */

.about__container {
    width: 70%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__text {
    font-size: 1.1rem;
    line-height: 30px;
}

.about__img {
    /* border: 10px solid var(--first-color); */
    border-radius: 3px;
    flex-basis: 30%;
    width: 200px;
    height: 350px;
}

.about__img img {
    width: 100%;
    height: 100%;
}

.about__right {
    flex-basis: 55%;
}

/* MEDIA QUERY FOR ABOUT SECTION */
@media screen and (max-width: 1100px){
    .about__container {
        flex-direction: column;
    }

    .about__right {
        margin-top: 50px;
    }
}

/* WORK SECTION */

.work {
    margin: -35px auto 0;
    height: 80vh;
}

.work__body {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.work__container {
    display: flex;
    width: 90vw;
}

.work__panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    border-radius: 30px;
    cursor: pointer;
    flex: 0.45;
    margin: 10px;
    position: relative;
    transition: 0.7s ease-in;
}

.work__panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 25px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.work__panel a {
    font-size: 15px;
    position: absolute;
    bottom: 25px;
    right: 20px;
    margin: 0;
    opacity: 0;
    color: red;
    text-decoration: underline;
}

.active {
    flex: 5.5;
}

.work__panel.active h3, .work__panel.active a  {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

/* MEDIA QURIES FOR WORK SECTION */
@media(max-width: 480px) {
    .work__container {
        width: 100vw;
    }

    .work__panel:nth-of-type(4), 
    .work__panel:nth-of-type(5),
    .work__panel:nth-of-type(6), 
    .work__panel:nth-of-type(7),
    .work__panel:nth-of-type(8) {
        display: none;
    }
}

/* CONTACT SECTION */

.contact {
    margin-top: 30px;
}

.contact__container {
    width: 50%;
    margin: 0 auto;
}

.contact__input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
    outline:#0e2431;
}

.contact__button {
    outline: none;
    display: block;
    border: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
}

/* MEDIA QUERY FOR CONTACT SECTION */

@media screen and (max-width: 768px){
    .contact__container {
        width: 70%;
    }
}

@media screen and (max-width: 500px){
    .contact__container {
        width: 90%;
    }
}

/* FOOTER SCETION */

.footer {
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
}
.footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
}
.footer__social {
    margin-bottom: var(--mb-4)
}
.footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
}



@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .section-title{
        margin-bottom: var(--mb-6)
    }
    .section-title::after {
        width: 100px;
        top: 3rem;
    }
    .nav {
        height: calc(var(--header-height) + 1rem);
    }
    .nav__list {
        display: flex;
        padding-top: 0;
    }
    .nav__item {
        margin-left: 5rem;
        margin-bottom: 0;
        font-size: var(--font-semi);
    }
    .nav__toggle {
        display: none; 
    }

    .about__container, .skills__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
    }
    .about__img img {
        width: 300px;
    }

    /* .contact__form {
        width: 360px;
    }
    .contact__container {
        justify-items: center;
    } */
}
@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
    /* .home__img {
        right: 10%;
    } */
}
